
/********************************************************/
/** Unique Item           **/
/********************************************************/
.tm{
	color: #000099;
	font-family: monospace;
}



#msg-div{
    position: absolute;
}


td.amber{
	background-color: #F4C240;
}

td.green{
	background-color: #699D70;
}

td.red{
	background-color: #FAC3EA;
}

/********************************************************/
/** Main Containers           **/
/********************************************************/

body{
	background-color: #ffffff;
}

#header_box{
	margin: 0px;
	padding: 5px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
	color: #666666;
}

#header_box h1{
	font-family: monospace;
	font-size: 8pt;
}
#header_box h2{
	float: right;
	font-family: monospace;
	font-size: 8pt;
	font-weight: normal;
}

#main_container{
	margin: 20px 20px 20px 20px;
	min-height: 700px;
	font-family:  sans-serif;

}


/********************************************************/
/** Site Title           **/
/********************************************************/
#site_title{
	DDcolor: #C6E0F9;
	DDfont-size: 15pt;
	DDpadding: 10px;
	border: 2px outset #517699;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	background-image: url('/images/1.jpg');
	height: 100px;
}
#site_title{
	color: #C6E0F9;
	font-size: 12pt;
	padding: 10px;
	ssbackground-color: #376B91;
	DDborder: 2px outset #517699;
	DDborder-radius: 5px;
	DD-moz-border-radius: 5px; 
	DD-webkit-border-radius: 5px;
	DDbackground-image: url('/images/1.jpg');
}


/********************************************************/
/** FG Logo               **/
/********************************************************/
#fg_logo{
	text-align: center;
	margin: 10px 0px 10px 0px;
	border: 1px outset #dddddd;
	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
	padding: 10px;
	background-color: white;
	color: #002A5C;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
	font-family: sans-serif;
}

/********************************************************/
/** Clock              **/
/********************************************************/
#real_date{
	font-size: 7pt;
	font-weight: normal;
	color: #777777;
	margin-top: 5px;
}
#real_time{
	font-size: 12pt;
	font-weight: bold;
	font-family: monospace;
	color: #999999;
}



/********************************************************/
/** Site Nav  Box floated on right               **/
/********************************************************/
#site_nav_box {
	float: right;
	width: 180px;
}

#site_nav_box p{
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 9pt;
}

#site_nav_box p a{
	text-decoration: none;
	color: blue;
	font-size: 9pt;
}
#site_nav_box p a:hover{
	text-decoration: underline;

}

#site_nav_box ul.txt{
	margin-left: 35px;
	margin-top: 20px
}
#site_nav_box ul.txt li{

	text-decoration: none;
	color: #000099;
	font-size: 9pt;
	list-style-type: disc;
	margin: 5px 0px 5px 0px;
}

#site_nav_box ul.txt li a{
	text-decoration: none;
	color: #000099;
	font-size: 9pt;	
}
#site_nav_box ul.txt li a:hover{
	background-color: #efefef;
	color: blue;
	text-decoration: underline;
}
/********************************************************/
/** Site Havigation        **/
/********************************************************/
#navlist {
}

#navlist li {
	list-style-type: none;

}

#navlist a {
	padding: 10px;
	font-weight: bold;
	font-size: 10pt;
	margin: 10px 10px 10px 10px;
	text-decoration: none;
	display: block;
	
	color: #222222;
	background-color: #D8E7FF;
	border: 2px outset #999999;

	border-radius: 10px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px;
}
#navlist a:hover { 
	border-color: #222222;
	color: black;
	background-color: #94B9E1;
}



#navlist a.selected {
	background-color: #37598D;
	border-color: #999999;
	color: white;
}
#navlist a.selected:hover {
	background-color: #37598D;
	border-color: black;
	color: #eeeeee;
}


#navlist a.action {
	background-color: #4AA81D;
	border-color: #999999;
	color: white;
}
#navlist a.action:hover {
	background-color: #97F56A;
	border-color: black;
	color: black;
}

/********************************************************/
/** Content Box                 **/
/********************************************************/
#content_box{
	margin-top: 30px;
	margin-right: 210px;
	margin-left: 10px;
	min-height: 500px;
}

#content_box h2{
	font-family: sans-serif;
	font-size: 18pt;
	margin-bottom: 20px;
	padding: 5px 0px;
	margin-left: 40px;
	border-bottom: 1px solid #dddddd;
}

#content_box h3{
	font-family: sans-serif;
	font-size: 14pt;
	margin-bottom: 20px;
	padding: 5px 10px;
	margin-left: 40px;
	border: 1px solid #dddddd;
	background-color: #efefef;
}
#content_box form{
	font-family: sans-serif;
	font-size: 14pt;
	margin-bottom: 20px;
	padding: 5px 10px;
	margin-left: 40px;
	margin-top: 40px;
}
#content_box p{
	margin-left: 40px;
	line-height: 140%;
	font-size: 10pt;
	margin-bottom: 20px;
	margin-right: 50px;
}
/*
#content_box ul{
	margin-left: 70px;
	line-height: 140%;
	font-size: 10pt;
}
#content_box li{
	list-style-type: circle;
	margin-bottom: 10px;
}
*/

/********************************************************/
/** Comment Box                 **/
/********************************************************/
#comment_box{
	margin-top: 20px;
	font-size: 12pt;
	margin: 30px 0px 20px 30px;
	clear: both;
}

#comment_box h5{
	font-size: 10pt;
	font-weight: normal;
	background-color: #efefef;
	padding: 5px;
	border-top: 1px solid #bbbbbb;
	margin-bottom: 20px;
}
#comment_box h6{
	font-size: 8pt;
	font-weight: normal;
	padding: 5px 0px 5px 10px;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	margin-left: 20px;
}

#comment_box p{
	font-size: 9pt;
}

/********************************************************/
/** Footer Box                 **/
/********************************************************/
#footer_box{
	clear: both;
	margin-top: 20px;
	padding-top: 10px;
	font-size: 8pt;
	margin-left: 50px;
	border-top: 1px dotted #dddddd;
}






.atc_take{
	color: black;
	text-align: center;
	border: 1px outset #cccccc;
	background-color: #dddddd;
	text-decoration: none;
	padding: 2px;
	display: block;
}
.atc_take:hover{
	color: black;
	border-color: #bbbbbb;
	background-color: #efefef;
}
.atc_ok{
	color: green;
	text-align: center;
	border: 1px outset #cccccc;
	background-color: #D7F0E6;
	text-decoration: none;
	padding: 2px;
	display: block;
}
.atc_ok:hover{
	color: green;
	border-color: green;
	background-color: #F5FBE7;
}


.fpp_dep{
	border-left: 3px solid #FFE78C;
}
.fpp_arr{
	border-left: 3px solid #FFC5E9;
}

.cell_dep{
	background-color: #FFE78C;
}
.cell_arr{
	background-color: #FFC5E9;
}
.cell_mid{
	background-color: #DBBFEE;
}
.cell_timeline{
	
}

#help_text_div{
padding: 10px;
}
#help_text_div p{
padding: 10px;
}

.icoFilterOn{background-image: url('/images/bullet_pink.png') !important;}
.icoFilterOff{background-image: url('/images/bullet_purple.png') !important;}

.icoRefresh{background-image: url('/images/refresh.gif') !important;}
.icoSave{background-image: url('/images/accept.png') !important;}
.icoCancel{background-image: url('/images/bullet_black.png') !important;}
.icoDelete{background-image: url('/images/bullet_delete.png') !important;}
.icoHelp{background-image: url('/images/help.png') !important;}

.icoFpp{background-image: url('/images/layout.png') !important;}
.icoFppAdd{background-image: url('/images/layout_add.png') !important;}
.icoFppEdit{background-image: url('/images/layout_edit.png') !important;}
.icoFppDelete{background-image: url('/images/layout_delete.png') !important;}
.icoFppTake{background-image: url('/images/layout.png') !important;}

.icoTimeline{background-image: url('/images/date.png') !important;}

.icoPlans{background-image: url('/images/table_multiple.png') !important;}
.icoPlan{background-image: url('/images/table.png') !important;}
.icoPlanAdd{background-image: url('/images/table_add.png') !important;}
.icoPlanEdit{background-image: url('/images/table_edit.png') !important;}
.icoPlanDelete{background-image: url('/images/table_delete.png') !important;}


.x-form-miscfield {
	height: 22px;
	line-height: 18px;
	vertical-align: middle;
	overflow: hidden;
}
.ext-ie .x-form-miscfield {
    height: 22px; /* ie quirks */
    line-height: 18px;
}
.ext-strict .x-form-miscfield {
    height: 18px;
}
.ext-safari .x-form-miscfield {
    height: 20px; /* safari always same size */
}
.ext-gecko .x-form-miscfield {
    padding-top: 2px; /* FF won't center the text vertically */
    padding-bottom: 0;
}

/* Static field text */
.ux-form-statictextfield {
    background: transparent;
    border: none;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    color: #111;
    overflow: hidden; 
    border: 1px solid white
}
