{% extends "../main_container.html" %}


{% block content %}
	<div id="content_box">
<h2>About</h2>
<div id='chart_div' style="margin-left: 100px; border: none;"></div>
 <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['orgchart']});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');
        data.addRows([
[{v:'Piloter', f:'Piloter<div style="color:blue; font-style:italic">President</div>'}, '', 'Piloter, our President'],
[{v:'Trennor', f:'Trennor<div style="color:blue; font-style:italic">Vice President<div>'}, 'Piloter', 'Piloter, our Vice President'],
[{v:'Activity', f:'&nbsp;<div style="color:blue; font-style:italic">Activity Dept<div>'}, 'Trennor', 'VP'],
[{v:'Treen', f:'Treen<div style="color:blue; font-style:italic">Manager<div>'}, 'Activity', ''],
[{v:'Reeed', f:'Reeed<div style="color:blue; font-style:italic">Manager<div>'}, 'Activity', ''],
[{v:'gargleflump', f:'gargleflump<div style="color:blue; font-style:italic">Co-Manager<div>'}, 'Activity', ''],
[{v:'ac001', f:'ac001<div style="color:blue; font-style:italic">Web/IT Director<div>'}, 'Trennor', ''],
[{v:'command', f:'&nbsp;<div style="color:blue; font-style:italic">Commanders<div>'}, 'Trennor', ''],
[{v:'v1', f:'- vacant -<div style="color:blue; font-style:italic">Commander<div>'}, 'command', ''],
[{v:'v2', f:'- vacant -<div style="color:blue; font-style:italic">Co-Commander<div>'}, 'command', ''],
[{v:'atc', f:'- vacant -<div style="color:blue; font-style:italic">ATC Director<div>'}, 'Trennor', ''],
[{v:'v3', f:'- vacant -<div style="color:blue; font-style:italic">Ground Operations<div>'}, 'Trennor', '']
        ]);
		//** IF of Node / Parent Node / Tooltop test
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        chart.draw(data, {allowHtml:true});
      }
    </script>
</div>
{% endblock content %}