{% extends "../main_container.html" %}


{% block content %}
	<div id="content_box">
<h2>About this site</h2>

<p>This Virtual Flying Club was made available by Piloter & many supporters. This club was established on 1 Feb 2010. If you spot any mistakes on our website, please feel free to send feedback to us. Your efforts will be greatly appreciated.</p>

<p>What is this virtual flying club for?</p>

<p>ANS: So that we can do more intresting things like flying together in groups or have  competitions rather than just flying solo.</p>

<p>Flying Club Forums at http://www.flightgear.org/forums/viewtopic.php?f=10&t=7771</p>

<!---
<h3>Links</h3>
<p>
Bugs and Feature Requests: <a href="http://code.google.com/p/freeflightsim/issues/list">http://code.google.com/p/freeflightsim/issues/list</a></p>
<p>Wiki: <a href="http://code.google.com/p/freeflightsim/">http://code.google.com/p/freeflightsim/</a></p>
<p>Source: <a href="http://github.com/FreeFlightSim/ffs-app-engine">http://github.com/FreeFlightSim/flying-club</a></p>
--->

</div>
{% endblock content %}