{% extends "../main_container.html" %}

{% block content %}
<div id="content_box">

<h2>Welcome</h2>
<p><i>Fly Together - Organize Fly-Ins - Suggest New Areas to Fly - Helping Each Other Learn by Having Fun.</i></p>

<p>This Virtual Flying Club was made available by Piloter & many supporters. This club was established on 1 Feb 2010. If you spot any mistakes on our website, please feel free to send feedback to us. Your efforts will be greatly appreciated.

<p>What is this virtual flying club for?</p>

<p>ANS: So that we can do more intresting things like flying together in groups or have  competitions rather than just flying solo.</p>

<p>Flying Club Forums <a href="http://www.flightgear.org/forums/viewtopic.php?f=10&t=7771">is here</a></p>

</div>
{% endblock content %}